*{
    margin:0 0;
    padding:0 0;
    }
    body{
    font-family:arial,sans-seriff;
    line-height:25px;
    }
    .wrapper
    {
    border :1px solid red;
    width:90%;
    margin:1px auto;
    padding:1% 1%;
    
    }
    .clearfix:after
    {
    content:" ";
    visibility:hidden;
    display:block;
    height:100px;
    clear:both;
    }
    .main
    {
    margin: 1% 0;
    }
    .houses
    {
    width:15%;
    height: 40%;
    border:1px solid grey;
    margin:1%;
    float: left;
    text-align:center;
    }
    .houses hover
    {
    box-shadow:0 0 3px 3px silver;
    }
    
    .houses img
    {
    width:100%;
    }
    